<!doctype html>
<html>
<head>
    <style>

    body {
    	height: 400px;
    }

    div.layout {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }

    div.header {
        flex: 0.1;
        min-height: 0;
        display: flex;
    }

    img.logo {

    }

    div.menu {
        background: #adadff;
        flex: 1;
    }

    div.body {
        background: orange;
        flex: 1;
    }

  </style>
</head>
<body>
<div class="layout">
    <div class="header">
        <div class="menu">Jednak tutaj</div>
        </div>
    <div style="flex-direction:column;>
        <img src="1.jpg"/>
        <img src="2.jpg"/>
        <a href="example.txt" target="_blank">Text</a>
        </div>
    <div class="body">
        Tutaj jestem
    </div>
</div>

</body>
</html>